body,html{
	width:1264px;
	height:682px;
	max-width: 1264px;
	max-height: 682px;
	margin: 0;
	padding:0;
position: relative;
	font-family: "Microsoft YaHei" ! important;
	background-color: #f9f9f9;
}
.layui-form-checked[lay-skin=primary] i {
    border-color: #5FB878;
    background-color: #39afef;
    color: #fff;
}

.splitImgDown{
	width: 100%;
}

.layui-input-phoneNum{
    border: 1px solid #cfcfcf;
    background-color: #fff;
    display: block;
    border-radius: 0 2px 2px 0;
    padding: 0;
    color: #777;
    height: 3vw;
    line-height: 3vw;
    float: left;
    display: block;
    position: relative;

}
.layui-input-phoneNum:hover{
	    border-color: #cfcfcd!important;
}





















#login{
	width: 530px;
	margin: 0 auto;	
}

#LoginTitle{
	text-align:center;
	font-size: 30px;
	color: #4b4b4b;
	height:4vw;
	margin:20px;
}
#LoginTitle img{
width: 211px;
height: 52px;

}
#LogoText{
	font-size: 26px;
	color: #39b0ef;
	margin-top: 20px;
}

.layui-form-item {
	margin-bottom: 15px;
    clear: both;
    
}
#SignBtn{
	width:40%;
	height: 30px;;
	background-color: #39b0ef;
	font-size: 20px;
	font-family:"Microsoft Yahei";
	color: #fff;
	cursor:hand;
	text-align: center;
	line-height:30px;
	border-radius: 5px;;
	cursor:pointer;
	margin: 10px auto 0;
}
#forget{
	height: 30px;
	float: left;
	margin: 5px 0 5px 10px ;
	color: #0096ff;
	text-decoration: none
}
#forget a{
	font-size:14px;
	color: #0096ff;
	text-decoration: none;
}

#goRegister{
	height: 30px;
	float: right;
	margin: 5px 0 5px 10px ;
	color: #0096ff;
	text-decoration: none
}
#goRegister a{
	font-size:14px;
	color: #0096ff;
	text-decoration: none;
}

#StayLogin span{
color: #999;
margin-left: 10px;

}
#protocol{
text-decoration: none;
color: #39b0ef;	
}
#LoginSet{	
	height:35px;
	overflow: hidden;
}

#OtherLogin{	
	height: 63px;
	width: 100%;
	line-height:63px;
	text-align: center
}
.OtherLogin{
	height: 63px;
	width: 100%;
	line-height: 63px;
	text-align: center;
	font-size:18px;
	color: #898989;	
}
.OtherLogin a{
	color: #0096ff;
	text-decoration: none;
	font-size:18px;	
}
#line{
	width:90%;
	margin:0 auto;
	height:1px;
	border-top: 1px #cacaca solid; 
}
.loginInput{
	-webkit-box-shadow:0 0 0 50px #fff inset; 
	-webkit-text-fill-color: #cacaca;
}
.layui-form-label,.layui-input{
	height: 30px;
	line-height: 30px;
	padding: 0;	
	color: #777;		
}

.layui-input{
padding-left: 10px;
}
#reLoginText {
    font-size: 20px;
    color: #f44e52;
    margin-top: 20px;
    cursor:pointer;
}
#sendCode{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 19px;
    background-color: #39b0ef;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: .9;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    float: right;
}
.layui-input-block{
	margin-left: 158px;
    left: -1px;
}
#PhoneNmuAre{
	font-size: 12px;
	width: 4.5vw;
	border:none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
	background: url("../img/arrow.png") no-repeat scroll right center transparent;
		color: #777;	
}

.inputName{
width: 158px;
height: 30px;
line-height:30px;
}
.sex-item{
    width: 100%;
    line-height: 30px;
    padding: 0;
    color: #777;
    border: 1px solid #cfcfcf;
}
.sexinput{
border-right: 1px solid #cfcfcf;
    border-radius: 2px 0 0 2px;
    text-align: center;
    background-color: #FBFBFB;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    float: left;
    display: block;
    position: relative;
    padding: 0;
    color: #777;
    width: 12vw;
    height: 30px;
    line-height: 30px;;
}
.layui-form-radio {
    line-height: 30px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 0;
    margin: 0px 10px 0 0;
}
.layui-form-radio i {
    margin-right: 8px;
    font-size: 16px;
}
.layui-form-item .layui-input-inline{
	width:80px;
	margin-right: 0px;
}
.PhoneNum-inline{
	width: 289px;
    margin-right: 0px;
    margin-left: -1px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}



